body{
    font-family: 'IBM Plex Sans',Arial,sans-serif;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3.5rem 5rem;
}

li{
    margin-left: 30px;
   
}

.navbar-light .navbar-nav .nav-link {
    color:#025157 ;
    }

.c1 h1 {
        font-weight: 700!important;
        line-height: 63px;
        font-size: 70px;
        text-align: left;
        letter-spacing: -3px;
        color: #025157;
        max-width: 560px;
        margin-bottom: 24px;
    }

.c1{
    margin-left: -80px;
    margin-top: 50px;
}
.bt-matcha{
    background-color: #025157;
    color:white;
    font-weight: 600!important;
    height: 46px;
    border-radius: 8px;
}

.bt-matcha:hover{
    background-color:#6abf4b;
    color:white;
    font-weight: 600!important;
}


.text-p{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    font-size: 20px;
    color: #46484c;
}

.p-t{
    color: #025157;
    font-size: 16px;
    font-weight: 600!important;
}

.p-t:hover{
    color: #025157;
    text-decoration:underline;
    
}

.bt-start{
    background-color: #6abf4b;
    color:white;
    font-weight: 500!important;
    height: 46px;
    border-radius: 8px;
}

.bt-start:hover{
    color:white;
}
.cont{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -.5px;
    color: rgba(139,139,139,.8);
}

.btn-video{
    position:relative;
    left: 281px;
    top: -259px;
    width: 114px;
    height: 100px;
    background-color: #025157 !important;
    color:white !important;
    font-weight: 600!important;
}

.btn-video:hover{
    background-color: #6abf4b !important;
    color:white !important;
}

.titulo-2{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin-bottom: 40px;
    color:rgb(175, 168, 168);
}

.c2{
    margin-top:250px;
}

.c2 p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    color:#46484c;
}

.c2 h2{
    text-align: center;
    font-size: 55px;
    font-weight: 700!important;
    color: #025157;
    letter-spacing: -3px;
}

.t-cards{
    margin-top: 35px;
    text-decoration: none;
    color: #343434;
    font-size:23px;
    text-align: center;
}

.t-cards:hover{
    color:#6abf4b;
    text-decoration: none;
}

.zoom{
    transition: transform .5s ease-in-out;
}

.zoom:hover{
    transform: scale(1.1) rotate(1deg);
}


.c3{
    margin-top:250px;
}

.c3 h2{
    text-align: center;
    font-weight: 700!important;
    color: #025157;
    letter-spacing: -3px;
    margin-left: 0;
    font-size: 40px;  
}

.c4{
    margin-top:50px;  
}

.tam-img{
    margin-top: 40px;
}

.card-body{
    text-align: center;
}

.card-body h5{
    font-size: 19px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    color: #343434;
    margin-bottom: 20px;
    text-align: center;
    margin-top:-10px;
}

.card-body p{
    font-size: 15px;
    color: #7e7e7e;
    max-width: 92%;
    margin: 0 auto;
}

.c5{
    margin-top:250px;  
}

#slider {
    /*height: 350px;
    overflow: hidden;
    width: 100%;*/
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #025157;
    border:solid;
    border-color: #025157;
}
.carousel-indicators {
    bottom: -50px;
}

.carousel-item {
    height: 450px;
}

.btn-col{
    background-color: #025157;
    color:white
}

.btn-col:hover{
    background-color: #025157;
    color:white 
}

.cont-car h2{
    margin-top: 55px;
    font-size: 58px;
    color: #025157;
    letter-spacing: -3px;
    font-family: vesterbroextrabold,Arial,sans-serif;
    font-weight: 700!important;
}

.cont-car p{
    margin-top: 10px;
    margin-bottom: 1rem;
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
}

.cont-car a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    text-decoration: none;
    margin-top:10px;
}

.cont-car a:hover{
    background-color: #6abf4b;
}

.c6{
    margin-top: 300px;
}

.c6 h2{
    font-size: 55px;
color: #025157;
letter-spacing: -3px;
font-weight: 700!important;
text-align: center;
margin-bottom: 50px;
}

.titulo-celda{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-celda{
    font-size: 26px;
    line-height: 1em;
    font-weight: 700!important;
    color: #025157;
}

.img-celda{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.txt-celda{
    width: 100%;
    height: 80%;
    display: grid;
    align-items: center;
}

.t1{
    font-weight: 400;
    font-size: 19px;
    line-height: 1em;
    margin-bottom: 6px;
    color:#7e7e7e;
    margin-left: 40px;
}

.t2{
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
    color:#494949;
    margin-top:-2px;
    margin-left: 40px;
}

.min-txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.min-txt p {
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
}

.c7{
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c7 h2{
    font-size: 55px;
    color: #025157;
    letter-spacing: -3px;
    font-weight: 700!important;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

.c7 a{
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    text-decoration: none;
}

.c9{
    margin-top: 500px;
}

.features{
    margin-top: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 660px;
    grid-template-rows: repeat(2, 1fr);
    
}

.features article{
    background-color: indigo;
    margin: 10px;
    width: 95%;
    height: 290px;
} 


.container-subfooter{
    width: 100%;
    height: 400px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.cont-interior{
    width: 96%;
    height: 300px;
    background-color: #025157;
    border-radius: 10px;
    display: flex;
}

.sub1{
    display: grid;
    margin: 50px;
    width: 35%;
    align-items: center;
}

.sub1 h3{
    color:white;
    font-size: 35px;
    font-weight: 400!important;

}
.sub1 p{
    font-weight: 400;
    line-height: 25px;
    font-size: 17px;
    letter-spacing: -.5px;
    color: #fff;
}

.sub1 p a {
    color: #6abf4b;
    text-decoration: none;
}

.sub1 p a:hover {
    text-decoration: underline;
}

.sub2{
    display: grid;
    margin-left: 350px;
    width: 35%;
    align-items: center;
}

.sub2 a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1em;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background: #6abf4b;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 253px;
    margin-top:40px;
}

.sub2 p{
    margin-top:-160px;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: -.5px;
    color: #fff;
}

footer{
    width: 100%;
    height: 500px;
    background-color: #6abf4b;
}